<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie && movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <% if (movie) { %>
        <h1><%= movie.title %> </h1>    
        <br>
        <p>RATING: <%= movie.rating %> </p>
        <p>AWARDS: <%= movie.awards %> </p>
        <p>GENRE: <%= movie.genre.name %> </p>
        <p>LENGTH: <%= movie.length + ' min'%> </p>
        <p>RELEASE DATE: <%= movie.release_date %> </p>
        <p>Actors</p>
        <ul>
            <% movie.actors.forEach(element => { %>
                <li><%= element.first_name %>  <%= element.last_name %></li>
            <% }) %>
        </ul>
        
    <% }else{ %>
        <p>mmmm such not found</p>
    <% } %>
    <!-- <form action="/movies/delete/" METHOD="POST" >
        <button>Eliminar</button> 
    </form> -->

</body>
</html>